.Heading{
  font-size:22px;
  text-decoration:underline;
  text-align:center;
}
.BUTTON{
  width:100px;
  height:36px;
}

div input{
  margin-right:20px;
  height:36px;
  padding:10px;
  width:180px;
}

.TODO{
  margin-top:26px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.THARUN{
  display:flex;
  align-items:center;
  justify-content:center;

  padding:10px;
}
.Heading12{
    font-family:"roboto";
    font-size:20px;
    width:180px;
    font-family:"roboto";
    margin-right:20px;
}

